:root {
  --project-circle-size: 6rem;
  --outer-project-circle-size: 30rem;
  scroll-behavior: smooth;
  --main-green: #8fdc91;
  --off-black: #292f36;
  --pink: #ff6b6b;
  --orange: #ff9f1c;
  --white: #eee5e9;
}

.project_preview:focus-visible .explanation {
  outline-offset: .5rem ;
  outline: 1rem solid var(--pink);
}

body {
  background-color: #8fdc91;
}
.project_anchor {
  position: relative;
  background-color: red;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 15rem;
  margin-inline: auto;
}

.name {
  font-size: 14rem;
  overflow-wrap: anywhere;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  color:var(--off-black);
  opacity: 60%;
}

.bubble_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: transform 1s;
}

.project_preview_holder {
  position: absolute;
  animation-name: rotate-around;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  height: var(--outer-project-circle-size);
  width: var(--outer-project-circle-size);
  top: calc( 50% - calc(var(--outer-project-circle-size) / 2));
  left: calc( 50% - calc(var(--outer-project-circle-size) / 2));
}

.project_preview_holder:hover,
.project_preview_holder:focus-within {
  animation-play-state: paused;
}

.project_preview_holder:hover *,
.project_preview_holder:focus-within * {
  animation-play-state: paused;
}


@keyframes rotate-around {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.project_preview {
  position: absolute;
  border-radius: 50%;
  height: var(--project-circle-size);
  width: var(--project-circle-size);
  text-align: center;
  animation-name: stay-upright;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: border-radius 1s;
}

.project_preview:hover,
.project_preview:focus-visible {
  border-radius: 1rem 0 0 1rem;
}

.explanation {
  transition: all 1s;
  transform: scale(0);
  transform-origin: 0%;
  position: absolute;
  background-color: var(--off-black);
  color: var(--white);
  border-radius: 1rem;
  height: 100%;
  width: max-content;
  z-index: -1;
  padding-left: calc(100% + 1rem);
  padding-right: 1rem;

}

.project_preview:hover>.bubble_image,
.project_preview:focus-visible>.bubble_image {
  transform: scale(1.2);
}

.project_preview:hover .explanation,
.project_preview:focus-visible .explanation {
  transform: scale(1.2);
}

.left {
  left: 0;
  bottom: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
  right: 0;
}

.project_preview:hover {
  animation-play-state: paused;
}

@keyframes stay-upright {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

